[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hockeystick"]
	path = hockeystick
	url = https://github.com/cortinah/hockeystick
